{% extends 'base.html'  %}

{% block content  %}
    <h2 style="text-align:center">{{ search | title }}</h2>
    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <a href="/"><img src="https://i.pinimg.com/736x/ae/c4/53/aec453161b2f33ffc6219d8a758307a9.jpg" alt=""></a>
                </div>
                <div class="card-content">
                    <p>TEST</p>
                </div>
                <div class="card-action">
                    <a href="/">View listing: price TEST PRICE</a>
                </div>
            </div>
        </div>
        <!-- -->
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <a href="/"><img src="https://i.pinimg.com/736x/ae/c4/53/aec453161b2f33ffc6219d8a758307a9.jpg" alt=""></a>
                </div>
                <div class="card-content">
                    <p>TEST</p>
                </div>
                <div class="card-action">
                    <a href="/">View listing: price TEST PRICE</a>
                </div>
            </div>
        </div>
        <!-- -->
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <a href="/"><img src="https://i.pinimg.com/736x/ae/c4/53/aec453161b2f33ffc6219d8a758307a9.jpg" alt=""></a>
                </div>
                <div class="card-content">
                    <p>TEST</p>
                </div>
                <div class="card-action">
                    <a href="/">View listing: price TEST PRICE</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}